name: fayezmart
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  
  # Supabase dependencies
  supabase_flutter: ^2.4.1
  # For state management
  provider: ^6.1.1
  # For form validation
  form_validator: ^1.0.1
  # For UUID generation
  uuid: ^4.4.0
  # For showing toast messages
  fluttertoast: ^8.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/